@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)), url("images/caa.jpg");
    background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}

nav a{
    text-decoration: none;
    color:white;
}

nav a:hover{
    color:white;
}

nav .navbar-brand{
    font-family:'Berkshire Swash';
    font-size:25px;
    transition: all 100ms ease-in-out;
}

nav .navbar-brand:hover{
    text-shadow:0px 0px 15px #DDD;

    transition: all 100ms ease-in-out;
    
}

.nav-item{
    padding:1px 10px;
    background-color:white;
    color:black;
    border-radius:200px;
    margin-right:10px;
    margin-bottom:3px;
    font-family:'Lato', sans-serif;
}

.nav-item a{
    text-decoration: none;
    color:black;
}

.nav-item a:hover{
    color:black;
}

.sb{
    background-image: linear-gradient(-225deg, #FF057C 0%, #8D0B93 50%, #321575 100%);
    color:white;
}

.sb a{
    color:white;
}

.sb a:hover{
    color:white;
}

.pros{
    
    margin-top:40px;
    
}

.title{
    font-size:170%;
    color:white;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.card{
    border-radius:0;
    border:none;
    background:none;
    font-family:'Lato', sans-serif;
}

.card .card-title{
    font-weight:700;
    font-size:100%;
    text-transform:uppercase;
}

.card-img-top{
    margin-top:15px;
    margin-bottom:5px;
}

.sponsors .col-12{
    margin-bottom:10px;
}

.jumbotron{
    padding:30px 0;
    margin-bottom:0;
    color:white;
    background-color:#121212;
    border-top:2px solid white;
}

.contact .col-12{
    margin-bottom:20px;
}